/*=============== HEADER ===============*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: transparent;
    transition: .3s all ease;

    .nav {
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        transition: .3s all ease;

        padding: 1rem;

        &__menu {
            display: none;
        }

        &__logo {
            img {
                width: 120px;
                transition: .3s all ease;
            }
        }

        &__toggle {
            color: #fff;
            font-size: 1.8rem;

            cursor: pointer;
        }
    }
}
