* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("/img/bg-web.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.main {
  overflow: hidden;
}

.grid {
  display: -ms-grid;
  display: grid;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: transparent;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.header .nav {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  padding: 1rem;
}

.header .nav__menu {
  display: none;
}

.header .nav__logo img {
  width: 120px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.header .nav__toggle {
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}

.side__nav {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.side__nav .side__nav__container {
  z-index: 15;
  position: fixed;
  width: 260px;
  background-color: #1e5d819f;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  right: -100%;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.329);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.329);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.side__nav .side__nav__contents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side__nav .side__nav__contents .nav__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  padding-top: 1.5rem;
  color: #fff;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.side__nav .side__menu {
  width: 100%;
}

.side__nav .side__menu li {
  padding: 1.5rem;
}

.side__nav .side__menu li:hover {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  background-color: #113950;
}

.side__nav .side__menu ul li a {
  color: #fff;
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.home {
  width: 100%;
  height: 100vh;
}

.home__container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.home__container .home__contents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.home__container .home__contents .home__logo img {
  width: 220px;
}

.home__container .home__contents .home__eagle img {
  width: 220px;
}

.home__container .home__contents .home__desc {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 2rem;
}

.lore {
  height: 100%;
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.lore .lore__container {
  width: 90%;
  margin: auto;
}

.lore .lore__container .lore__book img {
  width: 100%;
}

.roadmap {
  height: 100%;
  width: 100%;
  padding-bottom: 20rem;
}

.roadmap .roadmap__container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.roadmap .roadmap__container .roadmap__contents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__title {
  position: relative;
  margin-bottom: -1rem;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__title img {
  width: 100%;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__title h1 {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__vines {
  position: relative;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__vines img {
  height: 450px;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__vines__2 {
  position: relative;
  padding-top: 1rem;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__vines__2 img {
  height: 450px;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__panels {
  width: 100%;
  position: absolute;
  right: 0;
  top: 4rem;
  left: 0;
  bottom: 0;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__panels .panel {
  width: 250px;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__panels .panel img {
  width: 100%;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__panels .panel h1 {
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.5rem;
  background-image: url("/img/roadmap-panel.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__panels__2 {
  width: 100%;
  position: absolute;
  right: 0;
  top: 3rem;
  left: 0;
  bottom: 0;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__panels__2 .panel {
  width: 250px;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__panels__2 .panel img {
  width: 100%;
}

.roadmap .roadmap__container .roadmap__contents .roadmap__panels__2 .panel h1 {
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.5rem;
  background-image: url("/img/roadmap-panel.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #000;
}

.footer .footer__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__container p {
  text-align: center;
  color: #b8b8b8;
  font-size: 10px;
}

.test {
  height: 100vh;
  width: 100%;
  margin-top: 5rem;
  background-color: #1B223C;
}
/*# sourceMappingURL=style.css.map */